.alert {
  --padding-top: var(--size-sm);
  --padding-left: var(--size-md);
  --padding-right: var(--size-md);
  --padding-bottom: var(--size-sm);
  --box-shadow: 3px 3px 6px var(--light-bg-dark-shadow), -3px -3px 6px var(--light-bg-light-shadow);
  --box-shadow-2: 6px 6px 12px var(--light-bg-dark-shadow), -6px -6px 12px var(--light-bg-light-shadow);
  --box-shadow-3: 9px 9px 18px var(--light-bg-dark-shadow), -9px -9px 18px var(--light-bg-light-shadow);
  --box-shadow-4: 12px 12px 24px var(--light-bg-dark-shadow), -12px -12px 24px var(--light-bg-light-shadow);
  --box-shadow-5: 15px 15px 30px var(--light-bg-dark-shadow), -15px -15px 30px var(--light-bg-light-shadow);
  --box-shadow-inset: inset -2px -2px 5px var(--light-bg-light-shadow), inset 2px 2px 5px var(--light-bg-dark-shadow);

  position: relative;
  display: flex;
  align-items: center;
  border-radius: var(--size-xs);
  padding: var(--padding-top) var(--padding-right) var(--padding-bottom) var(--padding-left);
  width: fit-content;
  box-shadow: none;
  box-sizing: border-box;
  font-size: var(--size-md);
  color: var(--text-color);
  gap: var(--offset-md);
}

.elevation- {
  &1 {
    box-shadow: var(--box-shadow);
  }

  &2 {
    box-shadow: var(--box-shadow-2);
  }

  &3 {
    box-shadow: var(--box-shadow-3);
  }

  &4 {
    box-shadow: var(--box-shadow-4);
  }

  &5 {
    box-shadow: var(--box-shadow-5);
  }
}

.alert.success {
  color: var(--success);
}

.alert.info {
  color: var(--info);
}

.alert.warning {
  color: var(--warning);
}

.alert.error {
  color: var(--error);
}

.alert.inset {
  box-shadow: var(--box-shadow-inset);
}

.alert.flat {
  box-shadow: none !important;
}

.alert.bordered {
  border: 1px solid var(--border-color);
}

.alert.rounded {
  border-radius: var(--size-xl);
}

.alert.outlined {
  border: 1px solid currentcolor;
  box-shadow: none !important;
}

.alert.border-top {
  border-top: 6px solid currentcolor;
  padding-top: 6px;
}

.alert.border-bottom {
  border-bottom: 6px solid currentcolor;
  padding-bottom: 6px;
}

.alert.border-left {
  border-left: 6px solid currentcolor;
  padding-left: 6px;
}

.alert.border-right {
  border-right: 6px solid currentcolor;
  padding-right: 6px;
}

.alert.dense {
  --padding-top: 8px;
  --padding-left: 12px;
  --padding-right: 12px;
  --padding-bottom: 8px;
}

.icon,
.close {
  display: flex;
  place-content: center;
}