.notFound {
  display: flex;
  flex-direction: column;
  place-content: center;
  place-items: center;
  height: calc(100vh - var(--navbar-height) * 5);
  text-align: center;
  gap: var(--offset-2xl);
}