.dark {
  --code-bg: #272822;
  --bg-color: var(--dark-bg);
  --text-shadow: var(--dark-bg-dark-shadow);
  --menu-text-color: var(--g-text-color-dark);
  --menu-text-hover-color: var(--primary-light);
  --text-secondary: var(--g-text-color-disabled-dark);
  --box-shadow: 3px 3px 6px var(--dark-bg-dark-shadow), -3px -3px 6px var(--dark-bg-light-shadow);
  --box-shadow-inset-small: inset -1px -1px 1px var(--dark-bg-light-shadow), inset 1px 1px 1px var(--dark-bg-dark-shadow);
  --text-color: var(--g-text-color-dark);
  --border-color: var(--dark-bg-light-shadow);
  --box-shadow-2: 6px 6px 12px var(--dark-bg-dark-shadow), -6px -6px 12px var(--dark-bg-light-shadow);
  --box-shadow-3: 9px 9px 18px var(--dark-bg-dark-shadow), -9px -9px 18px var(--dark-bg-light-shadow);
  --box-shadow-4: 12px 12px 24px var(--dark-bg-dark-shadow), -12px -12px 24px var(--dark-bg-light-shadow);
  --box-shadow-5: 15px 15px 30px var(--dark-bg-dark-shadow), -15px -15px 30px var(--dark-bg-light-shadow);
  --box-shadow-inset:
    inset -2px -2px 5px var(--dark-bg-light-shadow),
    inset 2px 2px 5px var(--dark-bg-dark-shadow)
;
}