.light {
  --main-color: var(--purple-600);
  --headings-color: var(--neutral-700);
  --text-color: var(--neutral-600);
  --text-secondary: var(--neutral-500);
  --placeholder-color: var(--neutral-300);
  --on-dark-bg-color: var(--neutral-200);
  --bg-color: #fafafc;
  --navbar-color: var(--neutral-600);
}