.nav {
  display: flex;
  align-items: center;
  padding: var(--offset-lg);
  width: 100%;
  height: var(--navbar-height);
  box-shadow:
    0.8rem 0.8rem 1.4rem var(--greyLight-2),
    -0.2rem -0.2rem 1.8rem var(--white);
  background-color: var(--greyLight-1);
}

.list {
  @include list-reset;

  display: flex;
  margin-left: auto;
  gap: 15px;
}

.hr {
  border: 0;
  border-radius: 10px;
  height: 5px;
  box-shadow: var(--box-shadow-inset-dense);
  background: var(--bg-color);
}