.nav {
  display: flex;
  align-items: center;
  padding: var(--size-lg);
  width: 100%;
  height: var(--navbar-height);
  background-color: var(--navbar-color);
  gap: var(--size-md);
}

.list {
  @include list-reset;

  display: flex;
  margin-left: auto;
  gap: var(--size-sm);
  color: var(--white);
}