.switch {
  --selector-bg: var(--primary);

  @include flex-center;

  margin: var(--offset-xxs) var(--offset-xs);
  padding: var(--offset-xxs);
}

.switch input {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: 4px;
  width: 26px;
  height: 26px;
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    overflow: hidden;
    border-radius: 32px;
    background-color: var(--bg-color);
  }

  &::before {
    left: 4px;
    top: 4px;
    z-index: 2;
    width: 20px;
    height: 20px;
    box-shadow: var(--box-shadow-small);
    transform: translateZ(0);
    transition: all 0.2s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  &::after {
    z-index: 1;
    width: 48px;
    height: 28px;
    box-shadow: var(--box-shadow-inset);
    isolation: isolate;
  }

  &:checked::before {
    background-color: var(--selector-bg);
    transform: translate3d(100%, 0, 0);
  }

  &:hover::before {
    background-color: var(--selector-bg);
  }
}

.switch label {
  margin-top: -2px;
  margin-left: 28px;
  font-size: 16px;
  color: var(--text-color);
}

.switch label p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--text-color);
}