.switch {
  --selector-bg: var(--main-color);

  @include flex-center;

  margin: var(--size-xxs) var(--size-xs);
  padding: var(--size-xxs);
}

.switch input {
  -webkit-appearance: none;
  position: relative;
  display: inline-block;
  outline: none;
  border: none;
  border-radius: var(--size-xxs);
  width: var(--size-2xl);
  height: var(--size-2xl);
  box-sizing: border-box;
  transition: all 0.2s ease-in-out;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    position: absolute;
    overflow: hidden;
    border-radius: var(--size-3xl);
    background-color: var(--bg-color);
  }

  &::before {
    left: var(--size-xxs);
    top: var(--size-xxs);
    z-index: 2;
    width: var(--size-lg);
    height: var(--size-lg);
    transform: translateZ(0);
    background-color: var(--purple-400);
    transition: all 0.2s cubic-bezier(0.85, 0.05, 0.18, 1.35);
  }

  &::after {
    z-index: 1;
    width: 48px;
    height: 28px;
    border: 0.1px solid var(--neutral-100);
    isolation: isolate;
  }

  &:checked::before {
    background-color: var(--selector-bg);
    transform: translate3d(100%, 0, 0);
  }

  &:hover::before {
    background-color: var(--selector-bg);
  }
}

.switch label {
  margin-top: -2px;
  margin-left: 28px;
  font-size: 16px;
  color: var(--placeholder-color);
}

.switch label p {
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.5px;
  color: var(--text-color);
}