*,
*::after,
*::before {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
  scroll-behavior: smooth;
}

body {
  --bg-color: #fafafc;
  --text-color: var(--black);
  --text-color-disabled: var(--neutral-400);
  --bg-disabled: var(--neutral-100);
  --border-color: var(--purple-600);
  --box-shadow: 3px 3px 6px var(--neutral-300), -3px -3px 6px var(--neutral-600);
  --box-shadow-2: 6px 6px 12px var(--neutral-300), -6px -6px 12px var(--neutral-600);
  --box-shadow-3: 9px 9px 18px var(--neutral-300), -9px -9px 18px var(--neutral-600);
  --box-shadow-4: 12px 12px 24px var(--neutral-300), -12px -12px 24px var(--neutral-600);
  --box-shadow-5: 15px 15px 30px var(--neutral-300), -15px -15px 30px var(--neutral-600);
  --box-shadow-inset: inset -2px -2px 5px var(--neutral-300), inset 2px 2px 5px var(--neutral-600);
  font: var(--font-body-default);
}

body #root {
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color);
}

.global-wrapper {
  box-shadow: var(--box-shadow);
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  object-fit: cover;
}

ul,
ol {
  @include list-reset;
}

button {
  @include btn-reset;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: none;
  box-shadow: inset 0 0 0 50px var(--menu-text-color);
  -webkit-text-fill-color: inherit;
  background-color: transparent;
}

::-webkit-scrollbar {
  width: var(--size-xxs);
}

[hidden] {
  display: none !important;
}