/* Fonts */
:root {
  --font-main: "Roboto", "Verdana", sans-serif;
  /* display */
  --font-display-1: 700 78px / 84px var(--font-main);
  --font-display-2: 700 62px / 76px var(--font-main);
  --font-display-3: 700 44px / 52px var(--font-main);
  --font-display-4: 700 28px / 40px var(--font-main);
  /* heading */
  --font-heading-1: 700 42px / 54px var(--font-main);
  --font-heading-2: 700 32px / 48px var(--font-main);
  --font-heading-3: 700 24px / 34px var(--font-main);
  --font-heading-4: 700 22px / 28px var(--font-main);
  --font-heading-5: 700 18px / 24px var(--font-main);
  --font-heading-6: 700 16px / 22px var(--font-main);
  /* body */
  --font-body-large: 400 18px / 32px var(--font-main);
  --font-body-default: 400 14px / 26px var(--font-main);
  --font-body-small: 400 12px / 22px var(--font-main);
  /* text single */
  --font-text-single-400-regular: 400 18px / 20px var(--font-main);
  --font-text-single-400-medium: 500 18px / 20px var(--font-main);
  --font-text-single-400-bold: 700 18px / 20px var(--font-main);

  --font-text-single-300-regular: 400 16px / 18px var(--font-main);
  --font-text-single-300-medium: 500 16px / 18px var(--font-main);
  --font-text-single-300-bold: 700 16px / 18px var(--font-main);

  --font-text-single-200-regular: 400 14px / 16px var(--font-main);
  --font-text-single-200-medium: 500 14px / 16px var(--font-main);
  --font-text-single-200-bold: 700 14px / 16px var(--font-main);

  --font-text-single-100-regular: 400 12px / 14px var(--font-main);
  --font-text-single-100-medium: 500 12px / 14px var(--font-main);
  --font-text-single-100-bold: 700 12px / 14px var(--font-main);
}

/* Sizes */
:root {
  --navbar-height: 4rem;
  --sidebar-width: 300px;
  --sidebar-collapsed: 80px;
  --size-xxs: 4px;
  --size-xs: 8px;
  --size-sm: 12px;
  --size-md: 16px;
  --size-lg: 20px;
  --size-xl: 24px;
  --size-2xl: 28px;
  --size-3xl: 32px;
}

/* Primary colors */
:root {
  --purple-800: #472eb5;
  --purple-700: #5d3eca;
  --purple-600: #7d42fb;
  --purple-500: #8f75e7;
  --purple-400: #c8bdff;
  --purple-300: #eae6ff;
  --purple-200: #f2f1ff;
  --purple-100: #fafafc;
}

/* Neutral Colors */
:root {
  --neutral-700: #18191b;
  --neutral-600: #313845;
  --neutral-500: #6e798b;
  --neutral-400: #b6b9ce;
  --neutral-300: #d3d8e7;
  --neutral-200: #e4e6f1;
  --neutral-100: #f3f5fb;
  --white: #ffffff;
  --black: #1e1b39;
}

/* System Colors */
:root {
  --blue-400: #2d5bff;
  --blue-300: #93aafd;
  --blue-200: #c6d2fd;
  --blue-100: #f3f6ff;

  --green-400: #00974e;
  --green-300: #86dd85;
  --green-200: #bcefbd;
  --green-100: #eefef0;

  --yellow-400: #edab02;
  --yellow-300: #fbd34d;
  --yellow-200: #fde689;
  --yellow-100: #fff5ca;

  --red-400: #de350b;
  --red-300: #f04438;
  --red-200: #fecbca;
  --red-100: #ffedeb;
}

/* Globals */
:root {
  --bg-color: #fafafc;
  --bg-color-dark: #1c1b1f;
}

/* Shadows */
:root {
  --box-shadow-small: 1px 1px 2px var(--neutral-300), -1px -1px 2px var(--neutral-400);
  --box-shadow-hover: 2px 2px 5px var(--neutral-300), -2px -2px 5px var(--neutral-400);
}